(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("./sim/verilator/wb4_sync_fifo/test_fifo_rd_empty/wave.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "uut",
                "wb4_sync_fifo",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 2,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (2): Group((
                name: "wb4_sync_fifo",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_wb4_in_sstall",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "o_wb4_in_sstall",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_wb4_in_sdata",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "i_wb4_in_sdata [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_wb4_out_sdata",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "o_wb4_out_sdata [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_wb4_out_sack",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "o_wb4_out_sack",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_wb4_out_sstall",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "o_wb4_out_sstall",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_rst",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "i_rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_wb4_out_scyc",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "i_wb4_out_scyc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Group((
                name: "uut",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_wb4_in_scyc",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "i_wb4_in_scyc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_wb4_in_sack",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "o_wb4_in_sack",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_wb4_in_sstb",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "i_wb4_in_sstb",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_clk",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "i_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "uut",
                            "wb4_sync_fifo",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_wb4_out_sstb",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "i_wb4_out_sstb",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 16,
        viewports: [
            (
                curr_left: (0.2895282284231019),
                curr_right: (0.5395282284231019),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            323000,
        ])),
        markers: {},
        focused_item: Some((5)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (5),
        level: 2,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)